[Desktop Entry]
Encoding=UTF-8
Version=1.1
Type=Application
Terminal=false
Exec=/usr/local/bin/lottefastvpn
Name=Lotte FastVPN
Icon=/opt/lottefastvpn/Icon/128x128/wireguard.png
